<div ng-controller="header">
<!--header-->

<header class="navbar-fixed-top">
    <nav class="navbar nav-header">
        <ul class="list-inline list-unstyled">
            <li class="col-xs-2 text-left"><a href="010-00-main.html" type="button" class="btn-main"><i class="fa fa-home"> </i></a></li>
            <li class="col-xs-6"><h1 class="text-center">{{user}} <small>님 환영합니다</small></h1> </li>
            <li class="col-xs-2 pull-right" style="width:46px;"><a type="button" id="cm-menu" href="#common-menu" role="button" class="btn-main" data-toggle="modal"><i class="fa fa-bars"> </i></a>

            </li>

        </ul>
    </nav>

    <div class="col-xs-12 no-padding ">
        <div class="text-center banner-wrap">
            <div class="ppp">
            <marquee behavior="scroll">
                <p>
                    {{item123[0].notice_comment}}
                </p>
            </marquee>
                </div>
        </div>
    </div>
</header>


<!--메뉴모달-->
<div class="modal fade" id="common-menu" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content cm-modal">
            <div class="modal-header cm-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title text-center" id="myModalLabel">
                    MENU
                </h4>
            </div>
            <div class="modal-body m-menu-wrap2">
                <div class="col-xs-4">
                    <button data-dismiss="modal" class="btn btn-block m-menu" ng-click="introduction();"> <i class="fa fa-mortar-board fa-3x"> </i><br>인사말 </button>
                </div>
                <div class="col-xs-4">
                    <button data-dismiss="modal" class="btn btn-block m-menu" ng-click="invitation();"> <i class="fa fa-envelope-o fa-3x"> </i><br>초대글 </button>
                </div>
                <div class="col-xs-4">
                    <button data-dismiss="modal" class="btn btn-block m-menu" ng-click="schedule();"><i class="fa fa-pie-chart fa-3x"> </i><br>일정표 </button>
                </div>
                <div class="col-xs-4">
                    <button data-dismiss="modal" class="btn btn-block m-menu" ng-click="lectureList();"><i class="fa fa-clipboard fa-3x"> </i><br>강의자료 </button>
                </div>
                <div class="col-xs-4">
                    <button data-dismiss="modal" class="btn btn-block m-menu" ng-click="lectureQna();"><i class="fa fa-comments fa-3x"> </i><br>강의QnA</button>
                </div>
                <div class="col-xs-4">
                    <button data-dismiss="modal" class="btn btn-block m-menu" ng-click="surroundings();"><i class="fa fa-coffee fa-3x"> </i><br>주변안내 </button>
                </div>
            </div>
        </div>

    </div>

</div>
    </div>